.flex-container {
    display: flex;
    border: 1px solid;
    height: 500px;
}

.flex-element {
    border: 1px solid;
    font-size: 28px;
    height: 96px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: chartreuse;
}

.flex-value-list {
    margin-bottom: 24px;
    font-size: 20px;
}

.value-item {
    margin-bottom: 12px;
}



.row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}